<table
  width='100%'
  cellpadding='0'
  cellspacing='0'
  style='border: 0; background-color: #ffffff; width: 100%; font-family: Arial, sans-serif;'
  class='container'
>
  <tr style='display: block; width: 100%; margin-bottom: 20px'>
    <td style='display: block; width: 100%; text-align: center; padding: 20px;'>
      <h1 style='color: #4b5550;'>SnapNow 이메일 인증</h1>
    </td>
  </tr>
  <tr width='100%' style='display: block; margin-bottom: 20px'>
    <td
      style='
            display: block;
            width: 100%;
            font-size: 20px;
            color: #000000;
            text-align: center;
            padding: 10px;
          '
    >
      안녕하세요! 귀하의 이메일을 인증하기 위해 아래의 인증 코드를 사용해 주세요.
    </td>
  </tr>
  <tr>
    <td
      style='
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
          '
    >
      <div
        style='
              background: #f3f3f3;
              padding: 20px 34px;
              width: 450px;
              border-radius: 8px;
              color: #4b5550;
              font-size: 24px;
              text-align: center;
              font-weight: bold;
            '
      >
        인증 번호:
        {{emailCode}}
        <!-- 인증 번호를 표시 -->
      </div>
    </td>
  </tr>
  <tr>
    <td
      style='
            display: block;
            width: 100%;
            font-size: 16px;
            color: #000000;
            text-align: center;
            padding: 20px 10px;
          '
    >
      이 코드는 3분 후에 만료됩니다.
      <br />
      인증 후, 서비스를 이용해 주세요!
    </td>
  </tr>
  <tr>
    <td
      style='
            display: block;
            width: 100%;
            font-size: 14px;
            color: #888888;
            text-align: center;
            padding: 10px;
          '
    >
      감사합니다!<br />
      SnapNow 팀
    </td>
  </tr>
</table>